.styled-table {
    border-collapse: inherit;
  margin-left:auto; 
    margin-right:auto;    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.center {
border: 5px solid #FFFF00;
text-align: center;
}

.button {
  border-radius: 50%;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;

}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button2 {
   border-radius: 45%;
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button2:hover {opacity: 1}
